*{
    margin: 100;
    padding: 0;
    outline: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    background: url('1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    text-align: center;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    width: 300px;

    background-color: white;
    box-shadow: 0 0 10px black;
}

.container h1{
    text-align: left;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 4px solid blue;
}

.container label{
    text-align: left;
    color: blue;
}

.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: white;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}

.container form button{
    width: 100%;
    padding: 5px;
    border: none;
    background-color:#2979ff;
    font-size: 18px;
    color: #fafafa;
}

.container a{
    text-decoration: none;
    color: #00008B;
    padding: 5px;
}

.container a:hover{
    background-color: rgb(red, green, blue);
    color: #008B8B;
    padding: 0px;
}